<form method="GET" action="">
  <div class="row">
    <div class="mb-3">
      <label for="search" class="form-label">Search</label>
      <input type="text" name="q" class="form-control" id="search-input" placeholder="Search here">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>