<form method="POST" class="mx-3" action="/post/store">
  <div class="h4 mt-2">
    Post Something Here
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Title</label>
    <input type="text" class="form-control" placeholder="EX: Quangdz" name = "name">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" name="description">
  </div>
  <div class="mb-3">
    <label for="videoId" class="form-label">Video Id</label>
    <input type="text" class="form-control" name="videoId">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>